*.orig
*.la
*.lo
*.o
*~
*.swp
*.gcno
*.patch
queryLexer.c
queryParser.c
queryParser.h
sqlLexer.c
sqlParser.c
sqlParser.h
cimXmlOps.c
cimXmlOps.h
cimXmlParserProcessed.c
man/*.pre
man/*.1
.deps/
.libs/
m4/
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
classSchema2c
confdefs.h
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
default.reg
getSchema.sh
getSchema.sh.pre
install-sh
libtool
ltmain.sh
missing
sblim-sfcb.service.pre
sfcb
sfcb-dox.conf
sfcb.cfg
sfcb.cfg.pre
sfcb.init-none
sfcb.init-redhat
sfcb.init-suse
sfcb.spec
sfcbd
sfcbdump
sfcbdumpP32onI32
sfcbinst2mof
sfcbmofpp
sfcbrepos
sfcbrepos.sh
sfcbstage
sfcbstage.sh
sfcbunstage
sfcbunstage.sh
sfcbuuid
sfcbuuid.sh
stamp-h1
test/Makefile
test/Makefile.in
test/TestProviders/tests/Makefile.in
test/TestProviders/tests/*.result
test/commands/Makefile.in
test/finaltest/Makefile.in
test/slptest/Makefile.in
test/unittest/Makefile.in
test/wbemcli/Makefile.in
test/xmltest/Makefile.in
ylwrap
test/unittest/EmbeddedTests
test/unittest/newCMPIInstance
test/unittest/newDateTime
test/unittest/xmlUnescape
test/TestProviders/tests/RIModIS.XML
test/xmltest/*.result
test/cimrstest/*.result
m4/
*gcda
core
core.*
*.gcov
coverage/*
ps_mem.py
MANIFEST
compile
*.rej
mofc/
\#*\#
20_indication.mof
20_indication.mof.pre
sfcbsem
sfcbd.log
sfcbproc
sfcbtrace
test/localtests/test_an
test/localtests/test_as
test/localtests/test_ci
test/localtests/test_ec
test/localtests/test_ecn
test/localtests/test_ei
test/localtests/test_ein
test/localtests/test_enumNS
test/localtests/test_gc
test/localtests/test_gi
test-driver
