# Sample configuartion file

export SFCBREPO_CMD="git clone git://sblim.git.sourceforge.net/gitroot/sblim/sfcb/"
export MOFCREPO_CMD="git clone git://sblim.git.sourceforge.net/gitroot/sblim/mofc/"

export MAIL_IDS="userid@domain.com"

export  PATH="$BASE_DIR/sfcb:/usr/local/bin:/usr/local/etc/init.d:$PATH"

export  LD_LIBRARY_PATH=""

export REPOSITORY_DIR="/usr/local/var/lib/sfcb/registration/repository"

export TESTSUITE="FULL TEST"

# Provide Test name for each set of config options 

TESTNAME=( "TEST1" "TEST2" "TEST3" )

TESTCONFIG=( "--enable-tests" "--enable-ssl" "--enable-tests --enable-ssl" )

